
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    }
    
    nav{
        background-color: pink;
        height: 8vh;
    }
    
    body{
        background-image: url("pexels-pixabay-268533.jpg");
        background-size: cover;
        color: white;
            
    }