
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    }
    
    nav{
        background-color: rgb(18, 58, 133);
        height: 6vh;
        text-align: center;
        color: snow;
        font-style: italic;
        font-family: rosario;
        font-weight: bolder;
        position: fixed;
        width: 100%;
        font-size: larger;
    }
    
    body{
        background-image: url("pexels-pixabay-268533.jpg");
        background-size: cover;
        color: white;
    }
    .questions{
        margin-top: 2em;
        margin-left: 10em;
        font-size: large;
    }

    #submit{
        margin-left: 40em;
        background-color: rgb(184, 132, 233);
        font-size: larger;
        color: white;
        font-weight: bolder;
        width: 150px;
        padding: 5px;
        font-style: italic;
        border: 1px groove;
        border-radius: 20px;
    }

    footer{
        text-align: center;
        font-style: italic;
        background-color: rgb(19, 58, 184);
        margin-top: 1em;
        position: static;
    }

    .results{
        height: 10vh;
        text-align: center;
        color: beige;
        font-size: xx-large;
        font-weight: bolder;
        font-style: italic;
    }